.title {
	padding: rem(55px) 0;
	text-align: center;
}

.title-img {
	width: rem(266px);
	height: rem(81px);
}

.title-byline {
	margin-top: rem(10px);
	font-family: "Favorit", sans-serif;
	font-size: rem(18px);
	line-height: 1.32;
	letter-spacing: 0.006em;
}
