* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
}

@font-face {
	font-family: "LF Serif";
	src: url('../fonts/lovefrom-serif-roman-subset.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "LF Serif";
	src: url('../fonts/lovefrom-serif-italic-subset.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

body {
	font-family: "LF Serif", serif;
	font-feature-settings: "liga" on, "calt" on;
	font-optical-sizing: auto;
	text-align: center;
	color: light-dark(#000, #fff);
	background-color: light-dark(#FAFAFA, #050505);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -0.01em;
}

main {
	padding-block: 3rem;
	padding-inline: 1.5rem;

	@media (min-width: 48rem) {
		padding-block: 5rem;
	}

	@media (min-width: 80rem) {
		padding-block: 6rem;
	}
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

h1 {
	font-size: 2.25rem;
	font-weight: 400;
	line-height: 1.1;
	text-wrap: balance;
	letter-spacing: -0.17px;
	margin-bottom: 3rem;

	@media (min-width: 48rem) {
		margin-bottom: 4rem;
		font-size: 2.5rem;
	}
}

.portrait {
	max-width: 43.125rem;
}

section {
	margin-inline: auto;
	font-size: 1.0625rem;
	line-height: 1.5;

	@media (min-width: 80rem) {
		font-size: 1.375rem;
	}

	@media (prefers-color-scheme: dark) {
		font-weight: 415;
	}
}

#statement {
	margin-top: 5rem;
	max-width: 44ch;
	row-gap: 1.15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.max-w-40ch { max-width: 40ch; }
.max-w-41ch { max-width: 41ch; }
.max-w-42ch { max-width: 42ch; }

#video {
	margin-inline: auto;
	max-width: 55.625rem;
}

.video {
	img, iframe {
		width: 100%;
		aspect-ratio: 16 / 9;
		border: none;
		border-radius: 0.38rem;
	}
}

#quotes {
	margin-top: 5rem;
	display: grid;
	gap: 3rem;

	@media (min-width: 48rem) {
		max-width: 51ch;
	}

	@media (min-width: 80rem) {
		margin-top: 7.5rem;
		max-width: 47ch;
	}
}

.quote {
	border-radius: 0.38rem;
	border: 0.0625rem solid light-dark(#E9E9E9, #2f2f2f);
	background-color: light-dark(#fff, #171717);
}

blockquote {
	padding-block: 3rem;
	padding-inline: 5%;

	@media (min-width: 48rem) {
		padding-block: 5rem;
		padding-inline: 15%;
	}
}
